{% use '../CommonAdmin/security_action.php.twig' %}
{% block update_use %}
{% endblock %}
{% block update %}

    public function updateAction($pk)
    {
        ${{ builder.ModelClass }} = $this->getObject($pk);

        {{ block('security_action_with_object') }}

        if (!${{ builder.ModelClass }}) {
            throw new NotFoundHttpException("The {{ model }} with {{ builder.ModelPrimaryKeyName }} $pk can't be found");
        }

        $this->preBindRequest(${{ builder.ModelClass }});
        $form = $this->createForm($this->getEditType(), ${{ builder.ModelClass }});
        $form->bindRequest($this->get('request'));

        if ($form->isValid()) {
            try {
                $this->preSave($form, ${{ builder.ModelClass }});
                $this->saveObject(${{ builder.ModelClass }});
                $this->postSave($form, ${{ builder.ModelClass }});

                $this->get('session')->setFlash('success', $this->get('translator')->trans("{{ messages.success is defined ? messages.success : "object.saved.success" }}", array(), 'Admingenerator') );

                return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_list"));
            } catch (\Exception $e) {
                $this->get('session')->setFlash('error',  $this->get('translator')->trans("{{ messages.error is defined ? messages.error : "object.saved.error" }}", array(), 'Admingenerator') );
                $this->onException($e, $form, ${{ builder.ModelClass }});
            }

        } else {
            $this->get('session')->setFlash('error',  $this->get('translator')->trans("{{ messages.error is defined ? messages.error : "object.saved.error" }}", array(), 'Admingenerator') );
        }

        return $this->render('{{ namespace_prefix }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}Edit:index.html.twig', array(
            "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
            "form" => $form->createView(),
        ));
    }

    /**
    * This method is here to make your life better, so overwrite  it
    *
    * @param \Exception $exception throwed exception
    * @param \Symfony\Component\Form\Form $form the valid form
    * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
    */
    public function onException(\Exception $exception, \Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
        if ($this->container->getParameter('kernel.debug')) {
            throw $exception;
        }
    }

    /**
    * This method is here to make your life better, so overwrite  it
    *
    * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
    */
    public function preBindRequest(\{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
    * This method is here to make your life better, so overwrite  it
    *
    * @param \Symfony\Component\Form\Form $form the valid form
    * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
    */
    public function preSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
    * This method is here to make your life better, so overwrite  it
    *
    * @param \Symfony\Component\Form\Form $form the valid form
    * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
    */
    public function postSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }
{% endblock %}
