{% block double_list_widget %}
<script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/javascripts/double_list.js') }}"></script>
<div class="double_list">
    <div style="float: left">
        <div class="double_list_label">{% trans from "Admingenerator" %}double_list.unselected{% endtrans %}</div>
        <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][unselected]" multiple="true" id="{{ form.get("id") }}_unselected" class="double_list_select-unselected">
        {% for choice in choices %}
            {% if choice is not selectedchoice(value) %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <div style="float: left; margin-top: 2em">
         <a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_unselected','{{ form.get("id") }}_selected'); return false;">
            <img src="{{ asset('bundles/admingeneratorgenerator/images/next.png') }}" alt="unassociate" />
         </a>
         <br />
         <a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_selected','{{ form.get("id") }}_unselected'); return false;">
            <img src="{{ asset('bundles/admingeneratorgenerator/images/previous.png') }}" alt="associate" />
         </a>
    </div>
    <div style="float: left">
         <div class="double_list_label">{% trans from "Admingenerator" %}double_list.selected{% endtrans %}</div>
         <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][]" multiple="true" id="{{ form.get("id") }}_selected"  {% if (form.vars.required) %}required="required" {% endif %}class="double_list_select-selected">
         {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endif %}
         {% endfor %}
         </select>
    </div>
    <br style="clear: both" />
    <script type="text/javascript">
        sfDoubleList.init(document.getElementById('{{ form.get("id") }}_selected'), 'double_list_select');
    </script>
</div>
{% endblock %}
{% block doctrine_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}
{% block doctrine_odm_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}
{% block propel_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}
